################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AudioEye/v16
/AudioEye/bin/Debug
/AudioEye/obj/Debug
/AudioEye/bin
/AudioEye/obj
/packages
/.vs
